.folder {
  display: flex;
  justify-content: space-between;
  background-color: rgb(218, 218, 218);
  width: 320px;
  margin-top: 5px;
  padding: 3px;
  align-items: center;
  cursor: pointer;
}

.folder > span {
  margin: 0px 5px 4px 5px;
}

.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  margin-left: 5px;
}

.inputContainer__input {
  margin: 6px 0 0 5px;
  /* display: flex; */
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
}
